*{
    font-family:'Poppins';
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

p{
    text-align: justify;
    
}

h1{
    margin-bottom: 0;
    color: #00425A;
    font-family: 'Belanosima';
}

h2{
    font-family: 'Belanosima';
}

h3{
    font-family: 'Belanosima';
}

.descripcion-foto{
    font-family: 'Belanosima';
    text-align: center;
    font-size: 1.8rem;
    color: #1f8a6fd0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.459); 
}

.logo{
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);    
}

/*Los siguientes estilos son sólo para los hijos del body*/
.contenedor-grid > *{
    text-align: center;    
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    padding: 10px;
}

/*Configuración para teléfonos móviles*/
.contenedor-grid{
    display: grid;
    min-height: 100%;
    gap: 10px;
    margin: 0;    
    padding: 0;
    grid-template:
    "header" auto
    "nav" auto
    "main" auto
    "footer" auto; 
}

/*Configuración del HEADER: */
.header{
    display:flex;    
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-header{
    text-align: center;
    font-size: 1.2rem;
}

/*CONFIGURACIÓN DE LA BARRA DE NAVEGACIÓN: */
.nav{
    display:flex;    
    flex-direction: column;
    background-color: #1F8A70;
    align-items: center;
    gap: 1em;
    grid-area: nav;       
}

.links{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#181823;
    border-radius: 10px;
    background-color: #FC7300;
    padding: 5px;
    box-shadow: 1px 3px 2px black;
}

.links:hover{
    background-color: #181823;
    color:#EFF5F5;
}

.main > p{
    text-align: justify;
}

.header{
    grid-area: header;
    background-color: #EFF5F5;
}

.main{
    grid-area: main;
    background-color: #EFF5F5;    
}

.footer{
    grid-area: footer;
    background-color: #181823;
    color:#EFF5F5;
    padding-bottom: 3em;
}

.descripcion{    
    border-bottom: 2px solid black;
}

.lista{
    text-align: start;
    font-weight: bold;
    padding: 20px;
}

.propuesta-educativa{
    border-top: 2px solid black;
}

.explicacion-propuesta{
    width: 80%;
    margin: auto;
}

.pd{
    text-indent: 2em;
    white-space: pre-line;
}

.descripcion > ul{
    text-align: start;
    font-weight: bold;
}

.u-noticias{
    border-top: 2px solid black;
    width: 80%;
    margin: auto;
}

.p-u-noticias{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.alumnos-nuevos{
    background-color: #00425A;
    color:#FC7300;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100vw;
}

.grilla{
    display: grid;
    justify-content: center;
}

.links-redes{
    display: flex;
    text-align: center;
    justify-content: space-around;    
}

.ubicacion{
    width: 80%;
    margin: auto;
}

.pht{
    text-align: center;
}

.mail{
    color:#FC7300;
}

.autoridades > h3{
    margin-top: 45px;
    margin-bottom: 0px;

    color:#FC7300;
    text-align: center;
}

.p-autoridades{
    white-space: pre-line;
    margin-top: 0;
    text-align: center;
}


.telefonos-horarios{
    margin-top: 1.4em;
    border-top: 1px solid #EFF5F5;
}

.derechos{
    font-size: 14px;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 5em;
    border-top: 1px solid #EFF5F5;
    border-bottom: 1px solid #EFF5F5;
    padding-top: 4px;
    padding-bottom: 4px;
}

/******** VISTA PARA TABLET (768px) ****************/
@media screen and (min-width:768px) {
    .nav{        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;        
    }

    h1{
        font-size: 2.4rem;
    }

    h2{
        font-size: 2rem;
    }
    
    .p-header{
        font-size: 1.6rem;
    }

    .links{
        width: 100px;
        font-weight: 800;  
        font-size: 1.1rem;      
    }

    
    .alumnos-nuevos{
        font-size: 1.4rem;
        font-weight: 800;
    }    

    .footer{
        font-size: 1.3rem;
    }

    .redes-sociales{
        width: 90%;
        margin: auto;
    }

    .derechos{
        font-size: 1.2rem;
    }
}

/******** VISTA PARA TABLET HORIZONTAL(1280px) ****************/
@media screen and (min-width: 1280px) {
    .contenedor-grid{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        gap:0;
    }

    h1{
        font-size: 3.3rem;
    }

    .p-header{
        font-size: 2.2rem;
    }

    .links{
        font-weight:bold;          
    }

    .grilla {
        display: grid;
        justify-content: center;
        grid-template:
          "img1 img2" 
          "img3 img4";
      }
      
    .grilla {
        grid-area: img1;
    }
      
    .grilla {
        grid-area: img2;
    }
      
    .grilla {
        grid-area: img3;
                
    }    

    .grilla {
        grid-area: img4;
    }
      
    .telefonos-horarios{
        font-size: 1.6rem;
        width: 80%;
        margin: auto;
    }
    
    .autoridades{
        font-size: 1.6rem;
    }

    .derechos{
        font-size: 1.3rem;
    }    
}

/******** VISTA PARA MONITOR FULL HD(1920px) ****************/
@media screen and (min-width: 1920px) {
    .q-somos{
        width: 80%;
        margin: auto;
    }

    .pqelegirnos{
        width: 80%;
        margin: auto;
    }

    .explicacion-propuesta{
        width: 75%;
        margin: auto;
    }

    .grilla{
        width: 80%;
        margin: auto;
    }

    .imagen-grilla{        
        filter: grayscale(80%); 
        transition: 1s;       
    }

    .imagen-grilla:hover{
        transform: scale(1.10);
        filter: grayscale(0%);
        transition: 1s;
    }

    .u-noticias{
        width: 75%;
        margin: auto;
    }

    .p-u-noticias{
        font-size: 3rem;
    }

    .alumnos-nuevos{
        font-size: 1.8rem;
    }

    .ubicacion-y-redes{
        width: 80%;
        margin: auto;
        display: grid;
        justify-content: center;
        grid-template:
         "area1 area2" auto /
          1fr   1fr;
    }

    .ubicacion-y-redes{
        grid-area: area1;
    }

    .ubicacion-y-redes{
        grid-area: area2;
    }

    .redes-sociales{
        display: flex;
        flex-direction: column;

    }

    .parrafo-redes{
        font-size: 1.3rem;       
    }

    
    




}

